{% extends 'layout.html' %}
{% block title%}
Products
{% endblock title%}
{% block content%}
<p class="alert alert-primary">Products</p>
<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="https://s25.q4cdn.com/442043304/files/doc_multimedia/2026/9/1011544584/SPECS26_Navigation@square.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://s25.q4cdn.com/442043304/files/doc_multimedia/2026/9/1011544584/SPECS26_Navigation@square.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://s25.q4cdn.com/442043304/files/doc_multimedia/2026/9/1011544584/SPECS26_Navigation@square.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://s25.q4cdn.com/442043304/files/doc_multimedia/2026/9/1011544584/SPECS26_Navigation@square.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://s25.q4cdn.com/442043304/files/doc_multimedia/2026/9/1011544584/SPECS26_Navigation@square.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://s25.q4cdn.com/442043304/files/doc_multimedia/2026/9/1011544584/SPECS26_Navigation@square.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://s25.q4cdn.com/442043304/files/doc_multimedia/2026/9/1011544584/SPECS26_Navigation@square.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://s25.q4cdn.com/442043304/files/doc_multimedia/2026/9/1011544584/SPECS26_Navigation@square.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://s25.q4cdn.com/442043304/files/doc_multimedia/2026/9/1011544584/SPECS26_Navigation@square.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
{% endblock content%}